@media (max-width: 48em) {
    html {
        font-size: 50.5%;
    }

    .btn--start {
        font-size: 2.8rem;
        padding: 0.6rem 1.8rem;
    }
}

@media (max-width: 27em) {
    html {
        font-size: 36.5%;
    }

    .main {
        padding-top: 20rem;
    }

    .img-container {
        gap: 20rem;
    }

    .score-container {
        margin-bottom: 3rem;
    }

    .result {
        padding: 0 2.8rem;
        margin-bottom: 14rem;
        height: 9.2rem;
        font-size: 4rem;
    }

    .player {
        font-size: 3.4rem;
    }

    .choose {
        font-size: 3.8rem;
    }
}

@media (max-width: 24em) {
    html {
        font-size: 27%;
    }

    .main {
        padding-top: 30rem;
    }

    .img-container {
        margin-bottom: 4.8rem;
    }

    .weapons {
        margin-bottom: 12.8rem;
    }
}
